<template>
    <div class="step-content compare-shop">

        <div class="filters-overlay" v-if="showFilters" @click="showFilters = !showFilters"></div>
        <div class="circle-button" @click="showFilters = !showFilters">
            <md-icon>filter_list</md-icon>
        </div>
        
        <h1 class="step-content__title">Let's compare & shop</h1>

        <div class="step-content__wrap">

            <CompareAndShopFilters
                :filters.sync="filters"
                :openFilters="showFilters"/>
            
            <CompareAndShopResultTabs/>
        </div>

        <!-- <p>{{'Filters: ' + getActiveFilters().join(' / ')}}</p> -->

        <h1 class="step-content__title">Quote Information</h1>

        <ApplicantFormsMembersInfoTable mode="info" @changeStep="$emit('changeStep', $event)"/>

        <md-button
            class="md-raised md-accent step-content__btn"
            @click="submitStep($event)"
        >View cart</md-button>

    </div>
</template>

<script>
import CompareAndShopFilters from './CompareAndShopFilters'
import CompareAndShopResultTabs from './CompareAndShopResultTabs'
import ApplicantFormsMembersInfoTable from '../MembersInfo/ApplicantFormMembersInfoTable'

export default {
    name: 'CompareAndShop',
    data: function() {
        return {
            filters: [
                {
                    all: [
                        {
                            name: 'HMO',
                            quantity: 4
                        },
                        {
                            name: 'HMO2',
                            quantity: 5
                        }
                    ],
                    active: [],
                    name: 'Plan Type'
                },

                {
                    all: [
                        {
                            name: 'Gold',
                            quantity: 4
                        },
                        {
                            name: 'Silver',
                            quantity: 5
                        }
                    ],
                    active: [],
                    name: 'Metal Tier'
                },

                {
                    all: [
                        {
                            name: 'No Deductible',
                            quantity: 0
                        },
                        {
                            name: '$1 - 1000',
                            quantity: 5
                        },
                        {
                            name: '$1001 - 3,500',
                            quantity: 5
                        },
                        {
                            name: '$3,501 - 5,000',
                            quantity: 5
                        }
                    ],
                    active: [],
                    name: 'Deductible Range True'
                },                
            ],
            showFilters: false
        }
    },
    components: {
        CompareAndShopFilters,
        CompareAndShopResultTabs,
        ApplicantFormsMembersInfoTable
    },
    methods: {
        getActiveFilters() {
            const activeFilters = this.filters.reduce((acc, cur) => {
                return [...acc, ...cur.active];
            }, []);

            return activeFilters;
        },
        submitStep() {
            // this.$router.push('/fourth'); 
            this.$emit('changeStep', 'cart');
        }
    }
}
</script>

<style scoped>
    .step-content__wrap{
        display: flex;
        margin-bottom: 80px;
        position: relative;
    }

    .circle-button {
        width: 48px;
        height: 48px;
        display: none;
        position: fixed;
        top: 4.0rem;
        right: -1.0rem;
        border-radius: 50%;
        background-color: #b33232;
        z-index: 50;
        color: #fff;
        cursor: pointer;
    }
    .circle-button .md-icon.md-theme-default.md-icon-font {
        color: #fff;
    }

    .filters-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
        z-index: 40;
    }

    @media (max-width: 768px) {
        .circle-button {
            display: flex;
        }
    }
</style>