<template>
    <div :class="[openFilters ? 'show' : '' , 'filters']">

        <h3 class="filters-title">Filters</h3>

        <div class="filter-group" v-for="(group, index) in filters" :key="'filter-group' + index">

            <h4 class="filter-group__title">{{group.name}}</h4>

            <md-checkbox
                v-for="(filter, index) in group.all"
                :key="'filter' + index"
                v-model="group.active"
                :value="filter.name"
                class="md-accent filter-group_filter"
                @change="$emit('update:filters', filters)"
                >
                {{filter.name + ' ('+ filter.quantity +')'}}</md-checkbox>

        </div>
        <!-- end of filter group -->
    </div>
</template>

<script>
export default {
    props: {
        openFilters: {
            type: Boolean,
            default: false
        },
        filters: {
            type: Array,
            required: true
        }
    },
    data: function () {
        return {
            
        }
    }
}
</script>

<style scoped>
    .filters {
        background: #44566c;
        color: #fff;
        padding: 1.6rem; 
        width: 260px;
    }
    .filters-title{
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        margin:0 0 48px;
    }
    .filter-group{
        margin-bottom: 32px;
    }
    .filter-group__title{
        border-bottom: 1px solid #fff;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 8px;
        padding-bottom: 5px;
        text-transform: uppercase;
        word-break: break-word;
    }
    .filter-group_filter{
        font-weight: 300;
        margin: 4px 8px;
        width: 100%;
    }

    @media (max-width: 1024px) {
        .filters {
            position: fixed;
            opacity: 0;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            transition: all .4s ease-in;
            z-index: 50;
        }
        .filters.show {
            opacity: 1;
            transform: translateX(0);
        }
    }
</style>