<template>
    <div class="results">
        <md-tabs class="md-primary results__tabs">
            
            <md-tab id="healthOffExchange" :md-label="windowWidth > 768 ? 'Health Off-Exchange' : 'HOE'">
                <CompareAndShopResultCard v-for="(plan, index) in plans.healthOffExchange" :key="'hoe' + index"/>
            </md-tab>

            <md-tab id="dental" md-label="Dental">
                <CompareAndShopResultCard v-for="(plan, index) in plans.dental" :key="'dental' + index"/>
            </md-tab>

            <md-tab id="vision" md-label="Vision">                    
                <CompareAndShopResultCard v-for="(plan, index) in plans.vision" :key="'vision' + index"/>
            </md-tab>

            <md-tab id="accident" md-label="Accident">
                <CompareAndShopResultCard v-for="(plan, index) in plans.accident" :key="'accident' + index"/>

                <div class="empty-state" v-if="!plans.accident.length">
                    <img src="@/assets/emptyState.png" alt="No results">
                    <p class="base-text empty-state__note">Sorry, no results for given parameters. Try to select other filters.</p>
                </div>
            </md-tab>

        </md-tabs>
    </div>
</template>

<script>
import CompareAndShopResultCard from './CompareAndShopResultCard'

export default {
    data: function () {
        return {
            plans: {
                healthOffExchange: [1, 2, 3],
                dental: [1, 2, 3, 4, 5, 6],
                vision: [1],
                accident: []                              
            },
        }
    },
     computed: {
        windowWidth() {
            return this.$store.getters['getScreenWidth'];
        }
    },
    components: {
        CompareAndShopResultCard
    }
}
</script>

<style scoped>
    .results{
        background: #fff;
        width: calc(100% - 200px);
    }
    .results__tabs{
        border-right: 3px solid #44566c;
        border-bottom: 3px solid #44566c;
        min-height: 800px;
    }
    .md-tab{
        padding: 3.2rem;
    }
    .empty-state{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
        width: 100%;
    }
    .empty-state__note{
        margin-top: 32px;
        width: 320px;
        text-align: center;
    }

     @media (max-width: 1024px) {
        .results{
            width: calc(100% + 6.4rem);
            transform: translateX(-3.2rem);
        }
        .md-tab{
            padding: 1.6rem;
        }
    }

    @media (max-width: 580px) {
        .results{
            width: calc(100% + 4.8rem);
            transform: translateX(-2.4rem);
        }
    }

</style>