<template>
    
    <div class="plan">
        
        <div class="plan-header">
            
            <div class="plan-header-text">
                <h3 class="plan-header-text__title">Anthem Catastrophic Pathway Guided Access HMO 7900</h3>
                <p class="plan-header-text__subtitle">Network: Pathway X Guided Access, Dental Prime, and Rx Choice Tiered Network</p>
            </div>
            <img class="plan-header__logo" src="@/assets/logo.png" alt="Company Logo">

            <md-button v-if="mode === 'cart'" class="md-raised md-accent">Cancel</md-button>

        </div>

        <div class="plan-content">
            
            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Medical & Drug Deductible</h6>
                <p class="plan-content__info-text">Individual: $6,750</p>
                <p class="plan-content__info-text">Family: $13,500</p>
            </div>

            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Medical & Drug Out-of-Pocket Maximum</h6>
                <p class="plan-content__info-text">Individual: $7,500</p>
                <p class="plan-content__info-text">Family: $15,000</p>
            </div>

            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Primary Care Visit</h6>
                <p class="plan-content__info-text">40% Coinsurance after deductible</p>
            </div>

            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Special Visit</h6>
                <p class="plan-content__info-text">40% Coinsurance after deductible</p>
            </div>

            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Urgent Care</h6>
                <p class="plan-content__info-text">40% Coinsurance after deductible</p>
            </div>

            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Inpatient Hospital</h6>
                <p class="plan-content__info-text">$500 Copay per Stay then 40% <span class="hide-on-mobile">Coinsurance after deductible</span></p>
            </div>

            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Generic Drugs</h6>
                <p class="plan-content__info-text">40% Coinsurance after deductible</p>
            </div>

            <div class="plan-content__info">
                <h6 class="plan-content__info-title">Preferred Brand Drugs</h6>
                <p class="plan-content__info-text">40% Coinsurance after deductible</p>
            </div>

            <div class="plan-content__badges">
                <span class="badge badge__blue plan-content__badge">HMO</span>
                <span class="badge plan-content__badge">Bronze</span>
            </div>
            <p class="plan-content__total">$696.16/mo</p>


        </div>

        <div class="plan__actions" v-if="mode !== 'cart'">
            <a href="#" class="base-link plan__links">Details</a>
            <a href="#" class="base-link plan__links">Similar plans</a>
            <a href="#" class="base-link plan__links">Doctors</a>
            <md-button class="md-raised md-accent plan__button">Compare</md-button>
            <md-button class="md-raised md-accent plan__button">Add to cart</md-button>
        </div>
    </div>

</template>

<script>
export default {
    name: 'CompareAndShopResultCard',
    props: {
        mode: {
            type: String,
            default: ''
        }
    },
}
</script>

<style scoped>
.plan {
    background: #fff;
    box-shadow:
        0 15px 12px 0 rgba(0, 0, 0, 0.22),
        0 19px 38px 0 rgba(0, 0, 0, 0.31);
    margin: 0 0 32px;
    width: 100%;
    min-height: 200px;
}


.plan-header {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.plan-header__logo {
    width: 130px;
    object-fit: contain;
}
.plan-header-text__title {
    font-size: 1.8rem;
    font-weight: 300;
    color: #4d5762;
    margin: 0 0 8px;
}
.plan-header-text__subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    color: #4d5762;
    margin: 0;
}


.plan-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 2.4rem 3.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.plan-content__info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 8px 0;
    width: 100%;
}
.plan-content__info-title {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    color: #44566c;
    margin: 0 auto 0 0;
}
.plan-content__info-text {
    font-size: 1.3rem;
    color: #44566c;
    line-height: 1.3rem;
    margin: 0;
    text-align: right;
    min-width: 200px;
}

.plan-content__badges {
    display: flex;
    align-items: center;
    margin: 1.6rem auto 0 0;
}
.plan-content__badge {
    margin-right: 1.6rem;
}
.plan-content__total {
    font-size: 2.6rem;
    font-weight: 600;
    color: #44566c;
    margin: 0;
}

.plan__actions{
    align-items: center;
    display: flex;
    padding: 1.6rem 3.2rem;
    width: 100%;
}
.plan__links{
    font-size: 1.3rem;
    margin-right: 2.4rem;
}
.plan__links:last-of-type{
    margin-right: auto;
}
.plan__button + .plan__button,
.plan__button{
    margin-left: 2.4rem;
}

@media (max-width: 1024px) {
    .plan-header {
        align-items: flex-start;
    }
}
@media (max-width: 768px) {
    .plan-header {
        flex-direction: column;
    }
    .plan-header__logo {
        margin-bottom: 4px;
    }
    .plan-header__logo,
    .plan-header .md-button {
        margin-left: auto;
    }
    .plan-content__info {
        flex-wrap: wrap;
    }
    .plan-content__info-title {
        display: inline-block;
        width: 100%;
    }
    .plan-content__info-text {
        width: auto;
        min-width: 120px;
        text-align: left;
        margin-top: .8rem;
    }
    .plan-content__badges {
        flex-direction: column;
        margin: 0 auto 0 0;
    }
    .plan-content__badge {
        margin: .8rem auto 0 0;
    }
    .plan__actions{
       flex-wrap: wrap;
       justify-content: flex-start;
    }
    .plan__links {
        order: 2;
    }
    .plan__links:first-child {
        margin-left: auto;
    }
    .plan__button + .plan__button,
    .plan__button{
        order: 1;
        margin: 0 2.0rem 1.6rem 0;
    }
}
@media (max-width: 580px) {
    .plan__button + .plan__button,
    .plan__button{
        width: 100%;
        margin: 0 0 1.6rem 0;
    } 
}
</style>