@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons');

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
   primary: #44566c, // The primary color
   accent: #b33232, // The accent or secondary color
   bland: #d8d8d8 // The accent or secondary color

 ));

@import "~vue-material/dist/theme/all"; // Apply the theme

/* Over writing material styles */
.md-theme-default a:not(.md-button){
  color: #4ea5d9;
  font-weight: 300;
}
.md-button{
    margin: 0;
    padding: 0 15px;
    letter-spacing: 1.1px;
}

.md-tabs .md-tabs-navigation .md-button{
  font-weight: 400;
  text-transform: capitalize;
}
//  Members table for small screens
.member-table__item .md-list-item-content{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, .4);
  border-top: 0;
}
// results tabs setting
.results__tabs.md-tabs .md-tabs-navigation .md-button{
  width: 25%;
  font-size: 14px;
  font-weight: 300;
}

// filter checkboxes
.filter-group_filter.md-checkbox .md-checkbox-container{
  border-color: #fff;
  border-width: 1px;
}
.filter-group_filter .md-checkbox-container:after{
  top: 1px;
  left: 6px;
}

/* Animations */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to{
  opacity: 0;
}

/* Utilities */
.hide-on-mobile {

}
.mb-large {
  margin-bottom: 7.2rem !important;
}
.mb-small {
  margin-bottom: 2.4rem;
}
.upper-text {
  text-transform: uppercase;
}

@media (max-width: 768px) {

  /* Utilities */
  .hide-on-mobile {
    display: none;  
  }
}