<template>
    <footer class="footer">
        
        <p class="footer__text">Licensed To: USA Health Insurance - Insurance License: 396673 |
            <a href="" class="base-link">Returning Applicant?</a>
        </p>
        <a class="footer__text">Click to View Sample Quote</a>
        <p class="footer__text">©2019 Quotit Corporation. All Rights Reserved |
            <a href="#" class="base-link">Privacy Policy</a>
        </p>

    </footer>    
</template>

<script>
export default {
    
}
</script>

<style scoped>
.footer{
  border-top: 1px solid #44566c;
  display: flex;
  flex-direction: column;
  padding: 16px 104px;
}
.footer__text{
  color: #44566c;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 8px 32px;
    text-align: center;
  }
}
</style>