<template>
    <header class="header">
        <h1 class="header__title">Get Your Free Customized Quote By Completing the Form Below</h1>
        
        <div class="header__bottom">
            <p class="base-text header__subtitle">Fill out the form below and we will send you a customized list 
                of health insurance options at no cost with no-obligations.</p>
            
            <div class="header__actions">
                <a href="#" class="base-link header__link">Returning Applicant?</a>
                <md-button class="md-raised md-accent" @click="$emit('changeStep', 'primaryInfo')">Login</md-button>
            </div>
        </div>
        <!-- end of subtitle block -->

    </header>
    <!-- end of header -->
</template>

<script>
export default {

}
</script>

<style scoped>
.header{
    margin-top: 12.0rem;
    padding: 0 10.4rem;
    border-bottom: 1px solid #44566c;
}
.header__title{
    color: #44566c;
    font-family: Roboto;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -1.01px;
    width: 75%;
}
.header__bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2.4rem 0 4.8rem;
}
.header__subtitle{
    width: 60%;
}
.header__actions{
    display: flex;
    align-items: center;
}
.header__link{
    font-size: 1.3rem;
    margin-right: 1.6rem;
    line-height: 1.85;
}
.base-link.header__link{
    color: #44566c;
}

@media (max-width: 1024px) {
    .header {
        margin-top: 3.2rem;
        padding: 0 3.2rem;
    }
}

@media (max-width: 768px) {
    .header__bottom {
        flex-direction: column;
    }
    .header__title,
    .header__subtitle,
    .header__actions {
        width: 100%;
    }
    .header__actions {
        justify-content: flex-end;
        margin: 1.6rem 0 0;
    }
}
@media (max-width: 580px) {
    .header {
        padding: 0 2.4rem;
    }
}
</style>