<template>
    <section class="step-content">
        
        <h1 class="step-content__title">Primary Applicant Info</h1>
        <p class="step-content__subtitle">Where do you live?</p>
        <p class="base-text step-content__text">Please enter your Zip Code 
            and select the Coverage Type of insurance you are interested in.</p>

        <div class="step-form">
            <AppInput
                placeholder="Enter ZIP code here"
                class="step-form__field"
                name="ZIP Code"
                required="true"
                v-model="$v.primaryInfo.zipCode.$model"
                :error="$v.primaryInfo.zipCode.$invalid && $v.primaryInfo.zipCode.$dirty"/>

            <AppInput
                placeholder="Your Country"
                class="step-form__field"
                required="true"
                name="Country"
                v-model="$v.primaryInfo.country.$model"
                :error="$v.primaryInfo.country.$invalid && $v.primaryInfo.country.$dirty"/>

            <AppInput
                placeholder="Your State"
                class="step-form__field"
                name="State"
                required="true"
                v-model.trim="$v.primaryInfo.state.$model"
                :error="$v.primaryInfo.state.$invalid && $v.primaryInfo.state.$dirty"/>
                
            <AppInput
                    controlType="select"
                    required="true"
                    class="step-form__field"
                    name="People"
                    v-model="$v.primaryInfo.people.$model"
                    :error="$v.primaryInfo.people.$invalid && $v.primaryInfo.people.$dirty">
                    
                    <template v-slot:label>How many people are in your household? </template>

                    <option value="" selected>Tap to select..</option>
                    <option value="1">1</option>
                    <option value="2">2</option>

            </AppInput>

            <div class="radio-block radio-block--small">
                <p class="base-text radio-block__text">Do you expect your household income to be greater than $ _______ in 2019?</p>

                <div class="radio-block__options">
                    
                    <AppRadioInput
                        radioOption="yes"
                        name="income"
                        checked="true"
                        value="yes"
                        v-model="primaryInfo.income"/>
                    
                    <AppRadioInput
                        radioOption="no"
                        name="income"
                        value="no"
                        v-model="primaryInfo.income"/>

                </div>
            </div>

            <div class="radio-block radio-block--wide">
                <p class="base-text radio-block__text">Plan type:</p>

                <div class="radio-block__options radio-block__options--wide">
                    
                    <AppRadioInput
                        radioOption="Individual & Family Plans"
                        name="insurancePlan"
                        checked="true"
                        value="1"
                        v-model="primaryInfo.planType"/>
                   
                    <AppRadioInput
                        radioOption="Child Only Plans - Ages 0 - 20 "
                        name="insurancePlan"
                        value="2"
                        v-model="primaryInfo.planType"/>
                    
                    <AppRadioInput
                        radioOption=" Senior Plans - Ages 65+"
                        name="insurancePlan"
                        value="3"
                        v-model="primaryInfo.planType"/>
                </div>
            </div>


        </div>
        <!-- end of form wrap -->
        
            <md-button
                class="step-content__btn"
                :class="{'step-content__btn--disabled': $v.$invalid, 'md-raised md-accent': (!$v.$invalid)}"
                @click="submitStep()"
            >Continue</md-button>

    </section>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
    name: 'ApplicantFormPrimaryInfo',
    data: function() {
        return {
            primaryInfo: {
                zipCode: '',
                country: '',
                state: '',
                people: '',
                income: 'no',
                planType: '1'
            }
        }
    },
    validations: {
        primaryInfo: {
            zipCode: {required},
            country: {required},
            state: {required},
            people: {required}
        }
    },
    methods: {
        submitStep() {    
            this.$v.primaryInfo.$touch();

            if (!this.$v.$invalid) {
                this.$emit('changeStep', 'membersInfo');
            }
        }
    }
}
</script>

<style scoped>

</style>