<template>
     <section class="step-content">
        
        <div class="step-header">
            <h1 class="step-content__title">Here is your quote. Let's finalize it</h1>
            <md-button class="md-raised md-accent" @click="$emit('changeStep', 'results');">Continue shopping</md-button>
        </div>



        <UIContentBox title="Your cart">
            <CompareAndShopResultCard v-for="(plan, index) in order.plans" :key="'plan' + index" mode="cart"/>

            <div class="total-sum">
                <h4 class="total-sum__text">Monthly total: $696.16</h4>
            </div>   
        </UIContentBox>
        
        <md-button
            class="md-raised md-accent step-content__btn mb-large"
            @click="submitStep()"
        >Checkout</md-button>



        <UIContentBox title="Other Plans">
            <CartPlanBox v-for="(plan, index) in otherPlans" :key="plan + index"/>
        </UIContentBox>
            
        <md-button
            class="md-raised md-accent step-content__btn mb-large"
            @click="submitStep()"
        >Checkout</md-button>


        <p class="base-text base-text--smaller mb-small">
            <span class="upper-text">IMPORTANT NOTICE</span>: Coinsurance amounts represented with a "%" are payable after the plan deductibles are reached; 
            Co-pay amounts represented with a "$" are not subject to plan deductibles (except where noted). 
            Refer to contract for a detailed explanation of plan benefits, features, exclusions and limitations.
            Benefits subject to change without notice. Out of pocket maximum shown includes the plan deductible unless otherwise noted.
            Co-pays, Deductibles, and Coinsurance amounts listed above are your share of the costs for covered benefits.
        </p>

        <p class="base-text base-text--smaller mb-small">
            Do Not Cancel your current coverage until a new policy is approved and you have received written 
            confirmation of the policy's rates and benefits from the insurance company. 
            Rate and Benefit Disclaimer Notification!
        </p>

        <p class="base-text base-text--smaller mb-small">Additionally, information contained in this website is limited in scope, 
            subject to change without notice, and does not contain all the terms, conditions, limitations, 
            or exclusions of the referenced benefit plans. Only the insurance company Plan Documents and Policy's 
            contain the exact terms and conditions of coverage. Your grant of access to the rate and benefit summaries contained herein 
            may not be relied upon as a guarantee of your eligibility or coverage under these benefit plans.</p>

     </section>
</template> 

<script>
import CompareAndShopResultCard from '../CompareAndShop/CompareAndShopResultCard'
import CartPlanBox from './CartPlanBox'
import UIContentBox from '../../UI/UIContentBox'

export default {
    data: function() {
        return {
            order: {
                plans: [1]
            },
            otherPlans: [1, 2, 3]
        }
    },
    components: {
        CompareAndShopResultCard,
        CartPlanBox,
        UIContentBox 
    },
    methods: {
        submitStep() {
            console.log('Checkout...');
        }
    }
}
</script>


<style scoped>
.step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.total-sum {
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 16px 0;
    margin-top: 48px;
}
.total-sum__text {
    font-size: 2.6rem;
    font-weight: 600;
    margin: 0;
    color: #44566c;
}

@media (max-width: 768px) {
    .step-header {
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 3.2rem;
    }
    .step-content__title {
        line-height: 4.0rem;
        align-self: center;
        margin-bottom: 1.0rem;
    }
}


</style>