<template>
    <div class="plan-box">
        <div class="plan-box__header">
            <p class="base-text">Dental</p>
            <img class="plan-box__logo" src="@/assets/logo.png" alt="Company Logo">
        </div>

        <div class="plan-box__content">
            <p class="plan-box__price">$96.16/mo</p>
            <a href="#" class="base-link">Details</a>
            <md-button class="md-raised md-accent">ADD</md-button>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

.plan-box {
    width: calc(33% - 21px);
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    padding: 1.6rem 2.4rem;
}
.plan-box__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.plan-box__logo {
    max-width: 65%;
    max-height: 50px;
}

.plan-box__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.plan-box__price {
    width: 100%;
    font-size: 2.6rem;
    font-weight: 600;
    color:#44566c;
    text-align: right;
    margin: 24px 0;
}

@media (max-width: 768px) {
    .plan-box {
        width: 100%;
        margin-bottom: 1.6rem;
    }
}
</style>