<template>
  <div id="app">
    <TheHeader @changeStep="moveStep"/>

    <main class="app-content">

      <transition name="component-fade" mode="out-in">
        <component v-bind:is="step" @changeStep="moveStep"></component>
      </transition>
    
    </main>

    <TheFooter/>
  </div>
</template>

<script>
import TheHeader from './components/Layout/TheHeader.vue'
import TheFooter from './components/Layout/TheFooter.vue'

import ApplicantFormPrimaryInfo from './components/Steps/PrimaryInfo/ApplicantFormPrimaryInfo'
import ApplicantFormMembersInfo from './components/Steps/MembersInfo/ApplicantFormMembersInfo'
import CompareAndShop from './components/Steps/CompareAndShop/CompareAndShop'
import Cart from './components/Steps/Cart/Cart'

export default {
  name: 'app',
  data: function() {
    return {
      step: 'primaryInfo'
    }
  },
  components: {
    TheHeader,
    TheFooter,
    'primaryInfo': ApplicantFormPrimaryInfo,
    'membersInfo': ApplicantFormMembersInfo,
    'results': CompareAndShop,
    'cart': Cart
  },
  methods: {
    moveStep(newStep) {
      this.step = newStep;
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
          this.windowHeight = window.innerHeight
          this.$store.dispatch('setWindowWidth', window.innerWidth);
        });
      })
  },
}
</script>

<style>

/* Base Content Block Styles */
* {
  box-sizing: inherit;
}
html, body{
  background-color: #ddd;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
#app {
  background-color: #fff;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, .22);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 1182px;
  padding-bottom: 200px;
}

/* Base Typography Styles */
.base-text{
  color: #4d5762;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.61;
  margin: 0;
}
.base-link,
.base-link:hover{
  text-decoration: none;
}

.base-text--smaller {
  font-size: 1.3rem;
}

/* App Component Styles */
.app-content{
  padding: 4.8rem 10.4rem 7.2rem;
}

/** Step forms settings */
.step-content{
  display: flex;
  flex-direction: column;
}
.step-content__title{
    color: #44566c;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
    line-height: 1;
    letter-spacing: 1.85px;
    text-transform: uppercase;
}
.step-content__subtitle{
    color: #44566c;
    font-size: 2.4rem;
    margin-bottom: 16px;
}
.step-content__text{
    margin-bottom: 40px;
}
.step-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.step-form__field{
    margin-bottom: 3.2rem;
    width: calc(33% - 13px);
}
.step-form__field--wide{
  width: calc(66% - 6.5px);
}

/* Radio input styles */
.radio-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
}
.radio-block--small{
    width: calc(66% - 6.5px);
}
.radio-block--wide{
    width:100%;
}
.radio-block__text{
    margin-bottom: 16px;
}
.radio-block__options{
    display: flex;
    margin-bottom: 8px;
}
.radio-block__options>*{
    margin-right: 40px;
}
.radio-block__options--wide{
    width: 100%;
    justify-content: space-between;
}
.radio-block__options--wide>*{
    margin: 0;
    width: calc(33% - 13px);
}
/* Submitting form step button settings  */
.md-button.step-content__btn{
    display: flex;
    margin: 64px 0 0 auto;
    padding: 0 24px;
}
.md-button.step-content__btn--disabled{
    background-color: #ccc;
}
/* Badges styles */
.badge{
    background: rgba(0, 0, 0, .35);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1.6rem;
}
.badge__blue{
  background: #4ea5d9;
}

@media (max-width: 1024px) {
  #app {
    width: 100%;
  }
  .app-content{
    padding: 4.0rem 3.2rem 7.2rem;
  }
}

@media (max-width: 768px) {
  html, body{
    font-size: 9px;
  }
  .step-content__title {
    font-size: 2.8rem;
  }
  .step-form__field,
  .step-form__field--wide {
    width: 100%;
  }
  .radio-block--small{
    width: 100%;
  }
  .radio-block__options,
  .radio-block__options--wide {
    flex-direction: column;
  }
  .radio-block__options>*,
  .radio-block__options--wide>*{
    margin: 4px 0;
    width: 100%;
  }
  .md-button.step-content__btn{
    margin: 24px 0 0 auto;
    width: 100%;
  }
}
@media (max-width: 580px)  {
  .app-content{
    padding: 4.0rem 2.4rem 7.2rem;
    overflow: hidden;
  }
}

</style>
