<template>
    <md-dialog :md-active.sync="showDialog" class="member-dialog">
      <md-dialog-title class="member-dialog__title">Add member</md-dialog-title>

        <md-content class="member-dialog__form">
            <AppInput
                placeholder="Full Name"
                class="step-form__field"
                name="fullName"
                required="true"
                v-model="$v.member.fullName.$model"
                :error="$v.member.fullName.$invalid && $v.member.fullName.$dirty"/>

            <AppInput
                controlType="select"
                placeholder="Relationship"
                class="step-form__field"
                name="relationship"
                required="true"
                v-model="$v.member.relationship.$model"
                :error="$v.member.relationship.$invalid && $v.member.relationship.$dirty">

                <option value="" selected>Tap to select..</option>
                <option value="spouse">Spouse</option>
                <option value="child">Child</option>

            </AppInput>

            <AppInput
                controlType="select"
                placeholder="Gender"
                class="step-form__field"
                name="gender"
                required="true"
                v-model="$v.member.gender.$model"
                :error="$v.member.gender.$invalid && $v.member.gender.$dirty">

                <option value="" selected>Tap to select..</option>
                <option value="male">M</option>
                <option value="female">F</option>
                <option value="other">Other</option>

            </AppInput>

            <AppInput
                placeholder="DOB"
                class="step-form__field"
                name="DOB"
                required="true"
                type="date"
                v-model="$v.member.dob.$model"
                :error="$v.member.dob.$invalid && $v.member.dob.$dirty"/>

            <AppInput
                placeholder="ZIP Code"
                class="step-form__field"
                name="ZIP Code"
                required="true"
                type="number"
                v-model="$v.member.zipCode.$model"
                :error="$v.member.zipCode.$invalid && $v.member.zipCode.$dirty"/>

            <AppInput
                controlType="select"
                placeholder="County"
                class="step-form__field"
                name="county"
                required="true"
                v-model="$v.member.county.$model"
                :error="$v.member.county.$invalid && $v.member.county.$dirty">

                <option value="" selected>Tap to select..</option>
                <option value="1">County 1</option>
                <option value="2">County 2</option>

            </AppInput>

            <AppInput
                placeholder="Tobacco"
                class="step-form__field"
                name="tobacco"
                required="true"
                v-model="$v.member.tobacco.$model"
                :error="$v.member.tobacco.$invalid && $v.member.tobacco.$dirty"/>     

        </md-content>  
    
      <md-dialog-actions class="member-dialog__actions">
        
        <md-button class="step-content__btn md-raised md-accent" @click="closeDialog()">Close</md-button>

        <md-button class="step-content__btn"
            :class="{
                'step-content__btn--disabled': $v.$invalid ,
                'md-raised md-accent': !$v.$invalid
            }"
            @click="submitMember()">Save</md-button>
            
      </md-dialog-actions>

    </md-dialog>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

    export default {
        props: {
            showDialog: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
                member: {
                    fullName: '',
                    relationship: '',
                    gender: '',
                    dob: '',
                    zipCode: '',
                    county: '',
                    tobacco: ''
                }
            }
        },
        validations: {
            member: {
                fullName: {required},
                relationship: {required},
                gender: {required},
                dob: {required},
                zipCode: {required},
                county: {required},
                tobacco: {required}
            }
        },
        methods:{
            submitMember() {
                // place for request
                this.closeDialog();
            },
            closeDialog() {
                this.$emit('update:showDialog', false);
            }
        }
    }
</script>

<style scoped>
.member-dialog{
    width: 90%;
    max-width: 90rem;
}
.member-dialog__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4.8rem;
}
.member-dialog__title{
    color: #44566C;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
    padding: 3.2rem 4.8rem 0;
    text-transform: uppercase;
}
.step-form__field{
    width: calc(50% - 12px);
    margin-bottom: 1.6rem;
}
.member-dialog__actions{
    padding: 6.4rem 4.8rem 2.4rem;
}
.member-dialog__actions.md-dialog-actions>*{
    margin-left: 2.4rem;
}

@media (max-width: 768px) {
    .step-form__field{
        width: 100%;
    }
    .member-dialog__title{
        padding: 2.4rem 3.2rem 0;
    }
    .member-dialog__form {
        padding: 0 2.4rem;
    }
    .member-dialog__actions{
        width: 100%;
        padding: 2.4rem;
    }
}
</style>