<template>
    <div class="product-type">
        <md-tabs class="md-primary product-type__tabs"
                v-on:md-changed="showChange($event)">
            
            <md-tab id="healthOffExchange" :md-label="windowWidth > 800 ? 'Health Off-Exchange' : 'Off'">

                <p class="base-text mobile-tab-title">Health Off-Exchange</p>
                
                <div class="product-type__tab-wrap" v-if="dataset.chosenType === 'healthOffExchange'">

                    <AppInput
                        required="true"
                        class="step-form__field"
                        name="date"
                        type="date"
                        placeholder="MM / DD / YYYY"
                        v-model="$v.dataset.healthOffExchange.requestedDate.$model"
                        :error="$v.dataset.healthOffExchange.requestedDate.$invalid && $v.dataset.healthOffExchange.requestedDate.$dirty"
                        >
                        <template v-slot:label>Requested Effective Date:</template>
                    </AppInput>

                    <AppInput
                        required="true"
                        class="step-form__field"
                        name="premium"
                        type="number"
                        labelWidth="calc(100% + 120px)"
                        placeholder="$ / month"
                        v-model="$v.dataset.healthOffExchange.healthPlan.$model"
                        :error="$v.dataset.healthOffExchange.healthPlan.$invalid && $v.dataset.healthOffExchange.healthPlan.$dirty">
                        <template v-slot:label>What is your current health plan premium? (optional):</template>
                    </AppInput>

                </div>

            </md-tab>

            <md-tab id="healthOnExchange" :md-label="windowWidth > 800 ? 'Health On-Exchange' : 'On'">

                <p class="base-text mobile-tab-title">Health On-Exchange</p>

                <div class="product-type__tab-wrap" v-if="dataset.chosenType === 'healthOnExchange'">
                    <AppInput
                        required="true"
                        class="step-form__field step-form__field--wide"
                        name="premium"
                        type="number"
                        labelWidth="200%"
                        placeholder="$ / month"
                        v-model="$v.dataset.healthOnExchange.income.$model"
                        :error="$v.dataset.healthOnExchange.income.$invalid && $v.dataset.healthOnExchange.income.$dirty">
                        <template v-slot:label>You may qualify for a government subsidy under the Affordable Care Act. 
                        Enter your estimated 2019 household income to see if you are eligible.</template>
                    </AppInput>

                    <div class="spacer"></div>

                    <AppInput
                        required="true"
                        class="step-form__field"
                        name="premium"
                        type="number"
                        labelWidth="calc(100% + 40px)"
                        placeholder="Number of people"
                        v-model="$v.dataset.healthOnExchange.people.$model"
                        :error="$v.dataset.healthOnExchange.people.$invalid && $v.dataset.healthOnExchange.people.$dirty">
                        <template v-slot:label>How many people are in your household?</template>
                    </AppInput>

                    <AppInput
                        required="true"
                        class="step-form__field"
                        name="date"
                        type="date"
                        placeholder="MM / DD / YYYY"
                        v-model="$v.dataset.healthOnExchange.requestedDate.$model"
                        :error="$v.dataset.healthOnExchange.requestedDate.$invalid && $v.dataset.healthOnExchange.requestedDate.$dirty">
                        <template v-slot:label>Requested Effective Date:</template>
                    </AppInput>

                    <AppInput
                        required="true"
                        class="step-form__field"
                        name="premium"
                        type="number"
                        labelWidth="calc(100% + 120px)"
                        placeholder="$ / month"
                        v-model="$v.dataset.healthOnExchange.healthPlan.$model"
                        :error="$v.dataset.healthOnExchange.healthPlan.$invalid && $v.dataset.healthOnExchange.healthPlan.$dirty">
                        <template v-slot:label>What is your current health plan premium? (optional):</template>
                    </AppInput>
                </div>
            </md-tab>

            <md-tab id="shortTermHealth" :md-label="windowWidth > 800 ? 'Short-Term Health' : 'Short'">
                
                <p class="base-text mobile-tab-title">Short-Term Health</p>

                <div class="radio-block radio-block--small" v-if="dataset.chosenType==='shortTermHealth'">
                    <p class="base-text radio-block__text">Payment option:</p>
                    
                    <div class="radio-block__options">
                        
                        <AppRadioInput
                            radioOption="Single Payment"
                            name="paymentType"
                            checked="true"
                            value="single"
                            v-model="dataset.shortTermHealth.paymentType"/>
                        
                        <AppRadioInput
                            radioOption="Monthly Payment"
                            name="paymentType"
                            value="monthly"
                            v-model="dataset.shortTermHealth.paymentType"/>
                    
                    </div>
                </div>
                
            </md-tab>

            <md-tab id="HSMShortTermHealth" :md-label="windowWidth > 800 ? 'HSM-ShortTerm Health' : 'HSM'">
                
                <p class="base-text mobile-tab-title">HSM-ShortTerm Health</p>

                <div class="product-type__tab-wrap" v-if="dataset.chosenType === 'HSMShortTermHealth'">

                    <AppInput
                        required="true"
                        class="step-form__field"
                        name="date"
                        type="date"
                        placeholder="MM / DD / YYYY"
                        v-model="$v.dataset.HSMShortTermHealth.startCoverage.$model"
                        :error="$v.dataset.HSMShortTermHealth.startCoverage.$invalid && $v.dataset.HSMShortTermHealth.startCoverage.$dirty">
                        <template v-slot:label>Start Coverage On:</template>
                    </AppInput>

                    <AppInput
                        required="true"
                        class="step-form__field"
                        name="premium"
                        type="number"
                        placeholder="1 / month"
                        v-model="$v.dataset.HSMShortTermHealth.endCoverage.$model"
                        :error="$v.dataset.HSMShortTermHealth.endCoverage.$invalid && $v.dataset.HSMShortTermHealth.endCoverage.$dirty">
                        <template v-slot:label>Coverage For Up To:</template>
                    </AppInput>

                </div>

            </md-tab>

        </md-tabs>
    </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {

    data: function () {
        return {

        }
    },

    props: {
        dataset: {
            type: Object,
            required: true
        }
    },

    validations: {
        dataset: {
            healthOffExchange: {
                requestedDate: {required},
                healthPlan: {required}
            },
            healthOnExchange: {
                income: {required},
                people: {required},
                requestedDate: {required},
                healthPlan: {required}
            },
            HSMShortTermHealth: {
                startCoverage: {required},
                endCoverage: {required}
            }
        }
    },

    computed: {
        windowWidth() {
            return this.$store.getters['getScreenWidth'];
        }
    },

    methods: {
        showChange(e) {
            this.dataset.chosenType = e;
        },
        updateDataset() {
            // in case we open tabs that contains required fields
            if (this.$v.dataset[this.dataset.chosenType]) {
                this.dataset.validity = !this.$v.dataset[this.dataset.chosenType].$invalid;
            } else {
                // in case we open tab that doesn't contain required fields
                this.dataset.validity = true;
            }
            this.$emit('update:dataset', this.dataset);
        }
    },

    updated() {
        this.updateDataset();
    }
}
</script>

<style scoped>
.product-type__tabs{
    border: 1px solid #44566c;
}
.product-type__tab-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.md-tab{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 40px;
    justify-content: space-between;
}
.step-form__field{
    width: calc(50% - 135px);
    margin-right: 135px;
}
.spacer{
    display: flex;
    flex: 1 100%;
}
.mobile-tab-title {
    display: none;
}

@media (max-width: 800px) {
    .mobile-tab-title {
        display: inline-block;
        font-weight: 600;
        font-size: 2.4rem;
        text-align: center;
        margin: .8rem 0 1.6rem;
    }
    .step-form__field{
        width: 100%; 
        margin-right: 0;
    }
    .md-tab{
        flex-direction: column;
        padding: 16px;
    }
}
</style>