<template>

<div class="step-table__wrap">
    
    <md-table class="step-table big-screen-table">
      <md-table-row>
        <md-table-head>First Name</md-table-head>
        <md-table-head>Relationship</md-table-head>
        <md-table-head>Gender</md-table-head>
        <md-table-head>DOB</md-table-head>
        <md-table-head>Zip Code</md-table-head>
        <md-table-head>County</md-table-head>
        <md-table-head>Tobacco</md-table-head>
        <md-table-head><md-icon>delete_sweep</md-icon></md-table-head>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Marci</md-table-cell>
        <md-table-cell>Self</md-table-cell>
        <md-table-cell>F</md-table-cell>
        <md-table-cell>03/03/2018</md-table-cell>
        <md-table-cell>30301</md-table-cell>
        <md-table-cell>DEKALAB</md-table-cell>
        <md-table-cell>03/03/2018</md-table-cell>
        <md-table-cell><md-icon class="md-accent"
            @click.native="deleteMember()"
            >delete_sweep</md-icon></md-table-cell>
      </md-table-row>

      <md-table-row>
        <md-table-cell>Gandi</md-table-cell>
        <md-table-cell>Sister</md-table-cell>
        <md-table-cell>F</md-table-cell>
        <md-table-cell>03/03/2018</md-table-cell>
        <md-table-cell>30301</md-table-cell>
        <md-table-cell>DEKALAB</md-table-cell>
        <md-table-cell>03/03/2018</md-table-cell>
        <md-table-cell><md-icon class="md-accent"
            @click.native="deleteMember()"
            >delete_sweep</md-icon></md-table-cell>
      </md-table-row>
    </md-table>
    <!-- end of big table -->

    <div class="small-screen-table">

        <md-list class="member-table">
            
            <md-list-item class="member-table__item">
                <span class="member-table__header">First Name</span>
                <span class="member-table__data">Lorem</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">Relationship</span>
                <span class="member-table__data">Self</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">Gender</span>
                <span class="member-table__data">F</span>
            </md-list-item>            
            
            <md-list-item class="member-table__item">
                <span class="member-table__header">DOB</span>
                <span class="member-table__data">10/10/2019</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">ZIP Code</span>
                <span class="member-table__data">03301</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">County</span>
                <span class="member-table__data">DEKALB</span>
            </md-list-item>   

            <md-list-item class="member-table__item">
                <span class="member-table__header">Tobacco</span>
                <span class="member-table__data">03/03/2015</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__action"><md-icon>delete</md-icon></span>
            </md-list-item>
        </md-list>

                <md-list class="member-table">
            
            <md-list-item class="member-table__item">
                <span class="member-table__header">First Name</span>
                <span class="member-table__data">Lorem</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">Relationship</span>
                <span class="member-table__data">Self</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">Gender</span>
                <span class="member-table__data">F</span>
            </md-list-item>            
            
            <md-list-item class="member-table__item">
                <span class="member-table__header">DOB</span>
                <span class="member-table__data">10/10/2019</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">ZIP Code</span>
                <span class="member-table__data">03301</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__header">County</span>
                <span class="member-table__data">DEKALB</span>
            </md-list-item>   

            <md-list-item class="member-table__item">
                <span class="member-table__header">Tobacco</span>
                <span class="member-table__data">03/03/2015</span>
            </md-list-item>

            <md-list-item class="member-table__item">
                <span class="member-table__action"><md-icon>delete</md-icon></span>
            </md-list-item>
        </md-list>
    </div>

    <div class="step-table__actions">

        <div v-if="mode === 'info'" class="info-wrap">
        
            <p class="base-text">Proposal ID: 42857078</p>
            <p class="base-text">Proposed Effective Date: 11/01/2019</p>
            <p class="base-text">State: GA</p>
            <p class="base-text">ZIP: 30315</p>
            <p class="base-text">Email: ted@usa-healthinsurance.com</p>
            
            <md-button
                class="step-table__actions__btn md-raised md-accent"
                @click="returnToMembersPage()"
            >Change information</md-button>
        </div>

        <md-button
            v-if="mode === 'action'"
            class="step-table__actions__btn md-raised md-accent"
            @click="$emit('newMember')"
        >ADD DEPENDENT</md-button>
    </div>        
    <!-- end of actions block -->

</div>

</template>

<script>
export default {
    name: 'ApplicantFormMembersInfoTable',
    props: {
        mode: {
            type: String,
            default: 'action'
        }
    },
    data: function() {
        return {
            
        }
    },
    methods: {
        deleteMember() {
            console.log('Member will be deleted');
        },
        returnToMembersPage() {
            // this.$router.push('/second');
            this.$emit('changeStep', 'membersInfo');
        }
    }
}
</script>

<style scoped>
    .step-table{
        background: #44566c;
    }
    .step-table__wrap{
        background: #44566c;
        margin-bottom: 48px;
        width: 100%;
    }
    /* Table for large screens */
    .md-table.md-theme-default .md-table-head,
    .step-table .md-table-head{
        background: #44566c;
        border-right: 1px solid #ccc;
        color: #fff;
        font-weight: 300;
    }
    .step-table .md-table-cell{
        border-right: 1px solid #ccc;
    }
    .step-table .md-table-cell,
    .step-table .md-table-head {
        border-left: 1px solid #ccc;
    }
    .step-table .md-table-head .md-icon{
        color: #d8d8d8;
    }
    .md-table-head-container .md-table-head-label{
        color: #fff;
    }
    .step-table .md-table-cell .md-icon{
        cursor: pointer;
    }
    .step-table__actions{
        background: #44566c;
        display: flex;
        justify-content: flex-end;
        padding: 16px;
    }
    .info-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .info-wrap .base-text {
        width: 33%;
        font-size: 1.4rem;
        color: #fff;
    }
    .info-wrap .md-raised {
        margin-top: 48px;
        margin-left: auto;
    }
    .big-screen-table {
        display: flex;
    }
    .small-screen-table {
        display: none;
    }

    /* Table for small screens  */
    .member-table {
        width: 100%;
        padding: 0;
    }
     .member-table:first-child {
        border-top: 1px solid rgba(0, 0, 0, .3);
     }
    .member-table__item {
        background-color: #44566c;
    }
    .member-table__item .md-list-item-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        border: 1px solid rgba(255, 255, 255, .4);
        border-top: 0;
    }
    .member-table__header,
    .member-table__data {
        width: 50%;
        padding: 1.6rem 0 1.6rem 2.4rem;
    }
    .member-table__header {
        background-color: #44566c;
        color: #fff;
    }
    .member-table__data {
        background-color: #fff;
        color: #44566c;
    }
    .member-table__action {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 24px;
    }
    .member-table__action .md-icon.md-theme-default.md-icon-font {
        color: #fff;
        cursor: pointer;
    }

    @media (max-width: 800px) {
        .big-screen-table {
            display: none;
        }
        .small-screen-table {
            display: flex;
            flex-direction: column;
        }
        .info-wrap{
            flex-direction: column;
        }
        .info-wrap .base-text {
            width: 100%;
        }
    }
</style>