<template>
     <section class="step-content">
        
        <h1 class="step-content__title">Primary Applicant Info</h1>
        <p class="step-content__subtitle">Who are you shopping for?</p>
        <p class="base-text step-content__text">Enter the information requested below 
            for the insured plan members to be included in this proposal.</p>

        <div class="step-form">
            
            <AppInput
                placeholder="First Name"
                class="step-form__field"
                name="first_name"
                required="true"
                v-model="$v.mainMember.firstName.$model"
                :error="$v.mainMember.firstName.$invalid && $v.mainMember.firstName.$dirty"/>
            
            <AppInput
                placeholder="Last Name"
                class="step-form__field"
                name="last_name"
                required="true"
                v-model="$v.mainMember.lastName.$model"
                :error="$v.mainMember.lastName.$invalid && $v.mainMember.lastName.$dirty"/>
            
            <AppInput
                placeholder="Email"
                class="step-form__field"
                name="email"
                required="true"
                v-model="$v.mainMember.email.$model"
                :error="$v.mainMember.email.$invalid && $v.mainMember.email.$dirty"/>
            
            <AppInput
                placeholder="Phone"
                class="step-form__field"
                name="phone"
                required="true"
                v-model="$v.mainMember.phone.$model"
                :error="$v.mainMember.phone.$invalid && $v.mainMember.phone.$dirty"/>
            
            <AppInput
                placeholder="State"
                class="step-form__field"
                name="state"
                required="true"
                v-model="$v.mainMember.state.$model"
                :error="$v.mainMember.state.$invalid && $v.mainMember.state.$dirty"/>
            
            <AppInput
                placeholder="City"
                class="step-form__field"
                name="city"
                required="true"
                v-model="$v.mainMember.city.$model"
                :error="$v.mainMember.city.$invalid && $v.mainMember.city.$dirty"/>
            
            <AppInput
                placeholder="Address"
                class="step-form__field"
                name="address"
                required="true"
                v-model="$v.mainMember.address.$model"
                :error="$v.mainMember.address.$invalid && $v.mainMember.address.$dirty"/>
            
            <AppInput
                placeholder="Comments"
                class="step-form__field step-form__field--wide"
                name="comments"
                required="true"
                controlType="textarea"
                v-model="$v.mainMember.comments.$model"
                :error="$v.mainMember.comments.$invalid && $v.mainMember.comments.$dirty"/>
        </div>

        <h1 class="step-content__title">Covered members</h1>

        <ApplicantFormsMembersInfoTable @newMember="showDialog = true"/>
        <ApplicantFormMembersNewMemberDialog :showDialog.sync="showDialog"/>

        <h1 class="step-content__title">Product Type</h1>

        <ApplicantFormMembersInfoProductType
            :dataset.sync="productType"/>

        <md-button
            class="step-content__btn"
            :class="{
                'step-content__btn--disabled': ($v.$invalid || !productType.validity),
                'md-raised md-accent': (!$v.$invalid && productType.validity)
            }"
            @click="submitStep($event)"
        >Continue</md-button>

    </section>
</template>

<script>
import ApplicantFormsMembersInfoTable from './ApplicantFormMembersInfoTable'
import ApplicantFormMembersInfoProductType from './ApplicantFormMembersInfoProductType'
import ApplicantFormMembersNewMemberDialog from './ApplicantFormMembersNewMemberDIalog'
import { required } from 'vuelidate/lib/validators'

export default {
    name: 'ApplicantFormMembersInfo',
    data: function() {
        return {

            mainMember: {
                firstName: '',
                lastName: '',
                email: '',
                phone: '',
                state: '',
                city: '',
                address: '',
                comments: ''
            },

            showDialog: false,

            productType: {
                chosenType: 'healthOffExchange',
                healthOffExchange: {
                    requestedDate: '',
                    healthPlan: ''
                },
                healthOnExchange: {
                    income: '',
                    people: '',
                    requestedDate: '',
                    healthPlan: ''
                },
                shortTermHealth: {
                    paymentType: 'single'
                },
                HSMShortTermHealth: {
                    startCoverage: '',
                    endCoverage: ''
                },
                validity: false
            },

            coveredMembers: [

            ]

        }
    },

    validations: {
        mainMember: {
            firstName: {required},
            lastName: {required},
            email: {required},
            phone: {required},
            state: {required},
            city: {required},
            address: {required},
            comments: {required}
        }
    },

    components: {
        ApplicantFormsMembersInfoTable,
        ApplicantFormMembersInfoProductType,
        ApplicantFormMembersNewMemberDialog
    },

    methods: {
        submitStep() {
            this.$v.mainMember.$touch();

            if (!this.$v.$invalid) {
                this.$emit('changeStep', 'results');
            }
            
        }
    }
}
</script>

<style scoped>
    .step-table{
        background-color: #44566c;
    }
</style>