<template>
    <div class="content-box">

        <div class="content-box__header">
            <h3 class="base-text">{{title}}</h3>
        </div>
            
        <div class="content-box__data">
            <slot />       
        </div>

    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: 'Your content'
        }
    }
}
</script>

<style scoped>
.content-box {
    width: 100%;
}
.content-box__header {
    padding: 1.6rem 3.2rem;
    background-color: #44566c;
}
.content-box__header .base-text {
    color: #fff;
}
.content-box__data {
    padding: 3.2rem 3.2rem 6.4rem;
    border: 1px solid #44566c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, .2);
}

@media (max-width: 768px) {
    .content-box {
        width: calc(100% + 6.4rem);
        transform: translateX(-3.2rem);
    }
    .content-box__data {
        padding: 1.6rem 1.6rem 3.2rem;
    }
}

@media (max-width: 580px) {
    .content-box {
        width: calc(100% + 4.8rem);
        transform: translateX(-2.4rem);
    }
    .content-box__data {
        padding: 1.6rem 1.6rem 3.2rem;
    }
}
</style>